[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "*"
dj-database-url = "*"
python-dotenv = "*"
"psycopg2-binary" = "*"
djangorestframework = "*"
django-filter = "*"
pillow = "==5.0.0"
django-heroku = "*"
whitenoise = "*"
